table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
}

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.table-heading {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #2c2c2c;
}

.add-transaction {
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #2c2c2c;
  border: none;
}
